@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import 'tailwindcss';

@theme {
  /* Custom Colors */
  --color-theme-orange: #D87D4A;
  --color-theme-light-orange: #FBAF85;
  --color-theme-dark-gray: #101010;
  --color-theme-black: #000000;
  --color-theme-white: #FFFFFF;
  --color-theme-light-gray: #F1F1F1;
  --color-theme-gray: #fafafa;

  /* Manrope Font */
  --font-family-sans: 'Manrope', system-ui, sans-serif;
  --font-family-manrope: 'Manrope', sans-serif;
}

body {
  @apply
  font-family-manrope
  bg-white
  text-gray-900;
}

.container {
  @apply
  max-w-[1110px]
  min-w-[275px]
  w-full
  mx-auto
  px-8;
}

h1 {
  @apply
  font-bold
  lg:text-[56px]
  tracking-[2px]
  leading-[58px]
  uppercase
}

h2 {
  @apply
  font-bold
  text-[40px]
  tracking-[1.43px]
  leading-11
  uppercase
}

h3 {
  @apply
  font-bold
  text-[32px]
  tracking-[1.14px]
  leading-9
  uppercase
}

h4 {
  @apply
  font-bold
  text-[28px]
  tracking-[1px]
  leading-8
  uppercase
}

h5 {
  @apply
  font-bold
  text-[24px]
  tracking-[0.86px]
  leading-7
  uppercase
}

h6 {
  @apply
  font-bold
  text-[18px]
  tracking-[0.71px]
  leading-[33px]
  uppercase
}

.theme-overline {
  @apply
  text-sm
  tracking-[5px]
  leading-[19px]
  lg:text-[18px]
  lg:tracking-[10px]
  lg:leading-[19px]
  uppercase;
}

subtitle {
  @apply
  text-[14px]
  tracking-[1.3px]
  leading-[19px]
  uppercase;
}

p {
  @apply
  text-[15px]
  tracking-[0.96px]
  leading-7;
}

/* Button Style */
.theme-btn {
  @apply
  flex
  items-center
  justify-center
  w-40
  h-12
  text-sm
  font-semibold
  uppercase
  text-center
  py-4
  transition
  duration-300
  ease-in-out;
}

.primary-btn {
  @apply
  bg-theme-black
  text-theme-white
  hover:bg-gray-800;
}

.secondary-btn {
  @apply
  bg-transparent
  text-theme-dark-gray
  border
  border-theme-dark-gray
  text-center
  hover:bg-theme-black
  hover:text-theme-white;
}

.triary-btn {
  @apply
  flex
  items-center
  justify-center
  gap-[13px]
  bg-transparent
  text-theme-black/50
  hover:text-theme-orange;
}

.alt-btn {
  @apply
  bg-theme-orange
  text-theme-white
  hover:bg-theme-light-orange;
}
